body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #811A39;
    color: whitesmoke;
}

h1 {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

h2 {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    color: #E54E58;
}

.tareas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    row-gap: 0px;
}

.tareas a {
    text-decoration: none;
    color: #F7AAB2;
}

.tarea1 {
    grid-area: 3 / 2 / 4 / 3;
    border: 1px dotted white;
    margin:auto;
}
.div1 :hover{
    background-color: hotpink;
    color: white;
}

.tarea2 {
    grid-area: 3 / 3 / 4 / 4;
    border: 1px dotted white;
    margin:auto;}
.div2 :hover{
    background-color: hotpink;
    color: white;
}
.tarea3 {
    grid-area: 3 / 4 / 4 / 5;
    border: 1px dotted white;
    margin:auto;
}
.div3 :hover{
    background-color: hotpink;
    color: white;
}

